body{
    
    background-image: url(/img/libreria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a{  
    font-family: "Times New Roman";
    color:rgb(140, 172, 0);
    text-decoration: none;
}

a:hover {
    color:rgb(235, 14, 14);
}

h1{
    font-family: 'Courier New', Courier, monospace;
}