<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html lang="es-AR" xmlns:th="https://wwww.thymeleaf.org">
    <head th:replace="/fragments/head :: head">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@{/}">LISTA LIBRO</a>
            </div>
        </nav>
        <button><a th:href="@{/libro/form}">Crear libro</a></button>
        <table>
            <thead>
                <tr>
                    <th>N°</th>
                    <th>ISBN</th>
                    <th>Titulo</th>
                    <th>Año</th>
                    <th>Autor</th>
                    <th>Ejemplares</th>
                    <th>Prestados</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" p,iterator : ${libros} ">
                    <td th:text="${iterator.index+1}"></td>
                    <td th:text="${p.isbn}"></td>
                    <td th:text="${p.titulo}"></td>
                    <td th:text="${p.anio}"></td>
                    <td th:text="${p.autor}==null ? 'No tiene autor' : ${p.autor.nombre}"></td>
                    <td th:text="${p.ejemplares}"></td>
                    <td th:text="${p.prestados}"></td>
                </tr>
            </tbody>
            <p th:if="${libros.isEmpty}"> No hay libros para mostrar</p>
        </table>
    </body>
</html>
